<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="../CSS/privacyPolicyCSS.css">
</head>
<body>
    <main>
        <div class="container">
            <h1>Privacy Policy</h1>
            <h2>Data Collection</h2>
            <p><strong>1.1 Personal Information</strong>: Our app collects minimal personal information from users. This is limited to the username that you choose when creating an account. We do not require, nor do we collect, any other personal identifiers such as real names, addresses, or date of birth.</p>
            <p><strong>1.2 User Consent and Actions</strong>: We collect data regarding your actions within the app, but only upon receiving your explicit consent. This includes choices you make and preferences you set while using the app. This data is used to enhance your experience and provide personalized features.</p>
            <p><strong>1.3 No Financial Data Collection</strong>: Our app does not collect any financial data, including but not limited to credit card information, bank details, or transaction history.</p>
            <p><strong>1.4 No Sensitive Personal Information</strong>: We do not collect sensitive personal information such as your political opinions, religious beliefs, health information, or other similar data.</p>
            <p><strong>1.5 Automatic Data Collection</strong>: The app does not automatically collect or store any data related to your device, location, or usage patterns. All data collection is based on user input and consent.</p>
            <p><strong>1.6 Purpose of Data Collection</strong>: The sole purpose of collecting your username and actions (upon consent) is to provide a personalized and efficient user experience within our app. We are committed to ensuring that the data we collect is directly relevant and limited to what is necessary for the functionality of our app.</p>
            <p><strong>1.7 Transparency and Control</strong>: We believe in transparency and control when it comes to your data. You will always be informed about what data we are collecting and will have the option to give or withdraw your consent at any time.</p>
            <h2>Use of Data</h2>
            <p><strong>2.1 Enhancing User Experience</strong>: The data we collect, such as your username and actions within the app, is primarily used to enhance and personalize your experience. This includes adapting the app's features and functionalities to better suit your preferences and usage patterns.</p>
            <p><strong>2.2 Service Improvement</strong>: We analyze collected data to understand user behavior and trends. This helps us in improving the overall functionality and efficiency of our app. Rest assured, this analysis is done with utmost respect to your privacy, and individual user data is not externally disclosed.</p>
            <p><strong>2.3 Feedback and Support</strong>: If you choose to provide feedback or seek support, we may use your username and other relevant data you provide to address your queries or concerns effectively.</p>
            <p><strong>2.4 Legal Compliance</strong>: We may use your data to comply with legal obligations, such as responding to legal requests or preventing fraud and abuse of our app.</p>
            <p><strong>2.5 No Third-Party Advertising</strong>: We do not use your data for third-party advertising purposes. Your information is solely for the use within the confines of our app's services and features.</p>
            <h2>Data Sharing and Disclosure</h2>
            <p><strong>3.1 Limited Sharing</strong>: We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our app, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.</p>
            <p><strong>3.2 Legal Requirements</strong>: We may disclose your information when we believe release is appropriate to comply with the law, enforce our app policies, or protect ours or others' rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
            <p><strong>3.3 User Consent</strong>: Apart from the scenarios mentioned above, any sharing or disclosure of your personal data will only be done with your explicit consent and after informing you about the recipients and the purpose of the data transfer.</p>
            <p><strong>3.4 Data Security</strong>: We take data security seriously and ensure that appropriate measures are in place to prevent unauthorized access to, or disclosure of, user data.</p>
        </div>
    </main>
</body>
</html>
